html,
body {
  margin: 0;
  height: 100%;
  background: #202124;
  color: #bdc1c6;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* align-items: center; */
}

a {
  color: #bdc1c6;
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-between;
}

.nav-links {
  display: flex;
  gap: 12px;
  list-style-type: none;
  width: fit-content;
  margin: 5px 0;
  padding: 10px;
  overflow: hidden;
}

.nav-links-one {
  display: flex;
  align-items: center;
}

.nav-links > li {
  display: inline;
  margin: 0;
}

.nav-links-two-img {
  width: 25px;
}

.user-img {
  border-radius: 50px;
}

main {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image {
  display: inline-block;
}

.search-form {
  border: 1px solid #303134;
  border-radius: 50px;
  display: flex;
  padding: 5px;
}

.search-form:hover {
  background: #303134;
}

.search-bar {
  background: none;
  border: none;
  color: #bdc1c6;
  text-decoration: none;
  width: 30em;
}

.button {
  background: none;
  padding: 0 5px;
  border: none;
}

.button-1 {
  margin: 25px 5px;
  padding: 10px;
  background: #303134;
  color: #bdc1c6;
  border: none;
}

.button-1:hover {
  outline: 1px solid #bdc1c6;
}

footer {
  background: #171717;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-links {
  display: flex;
  gap: 12px;
  list-style-type: none;
  width: fit-content;
  margin: 5px;
  padding: 10px;
}

.footer-links > li {
  display: inline;
}

.footer-links,
.footer-links > li > a {
  color: #999da2;
}

link:hover {
  text-decoration: underline;
}
